x-size: &size
  deploy:
    resources:
      limits:
        cpus: "${CPUS}"
        memory: "${MEM}"

x-common: &common
  image: ${IMAGE}
  build:
    context: ./services/${SERVICE}
    dockerfile: Dockerfile
  environment:
    PORT: "8080"
    TEST_MODE: "${TEST_MODE}"
  network_mode: "host"
  tmpfs:
    - /tmp:rw,noexec,nosuid,nodev,size=2g
  <<: *size

services:
  sut:
    <<: *common
    cpuset: "${CPUSET}"
